# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.5
tqdm>=4.41.0

# Logging -------------------------------------
tensorboard>=2.4.1
# wandb

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# if for not docker, these have to be unlocked.
torch==1.9.1+cu111
torchvision==0.10.1+cu111

fastai==2.7.9
openmim==0.2.1
pycocotools==2.0.4
Shapely==1.8.4

# clip
ftfy==6.1.1
regex==2022.8.17

boto3==1.24.96
loguru==0.6.0
